@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-gray-100;
  }
  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  textarea {
    @apply block border-0 p-4 w-full text-base
    bg-dark-200 text-white placeholder:text-gray-300  rounded-lg 
    focus:ring-blue-500 focus:border-0 focus:ring-0;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .header-lg {
    @apply text-gray text-2xl font-semibold;
  }

  .header-md {
    @apply text-gray text-xl font-semibold;
  }

  .paragraph-sm {
    @apply text-gray text-sm md:text-base;
  }

  .paragraph-md {
    @apply text-gray text-lg;
  }

  .paragraph-lg {
    @apply text-gray text-xl;
  }

  .btn-outline {
    @apply px-4 py-2 rounded-lg border border-blue-500 font-medium 
    hover:bg-gradient-to-r hover:from-green-500 hover:to-blue-500;
  }

  .btn-contained {
    @apply px-4 py-2 rounded-lg bg-blue-500 font-medium 
    hover:bg-gradient-to-r hover:from-green-500 hover:to-blue-500;
  }

  .animate {
    @apply transition duration-300 ease-in-out;
  }

  a:hover {
    background: #64ffda;
    background: -webkit-linear-gradient(
      to left,
      #64ffda,
      #38ef7d
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #64ffda,
      #38ef7d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.green_text_gradient {
  background: #64ffda; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #64ffda,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #64ffda,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.thin-scrollbar {
  scrollbar-width: 8px;
  scrollbar-color: #ccc transparent;
}
